button{
    height: 30px;
    width: 80px;
    border: none;
    cursor: pointer;
    vertical-align: top;

}
.sub{
    background-color: rgb(233, 22, 22);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    margin: 0px 10px 0px 0px;
    padding: 8px 14px 9px 12px;
    /* text-align: top; */
}
.sub:hover{
    /* background-color: lightgray; */
    opacity: 0.7;
}
.sub:active{
    opacity: 0.5;
    background-color: green;
}


.join{
    background-color: rgb(255,255,255);
    color: blue;
    border: solid blue 3px;
    margin: 0px 0px 0px 0px;
    font-size: 15px;
    transition: background-color 0.5s, color 0.5s;
}
.join:hover{
    background-color: blue;
    color: rgb(255,255,255);
}
.join:active{
    opacity: 0.5;
}

.leave{
    background-color: rgb(0,0,0);
    color:rgb(255, 255, 255);
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    margin: 0px 0px 0px 10px
}
.amazon{
    background-color: rgb(255, 208, 0);
    width: 150px;
    margin: 0 0 0 12px;
    border-radius: 30px;
    padding: 0px 20px 0px 20px;
    transition: opacity 0.2s, box-shadow 0.6s;
}
.amazon:hover{
    opacity: 0.8;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}
.item{
    width: auto;
    background-color: green;
    color: white;
    margin: 0px 0px 0px 15px;
    padding: 8px 12px 8px 12px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 0px 0px 0px 13px;
}