h2{
    color: red;
    width: 200px;
    margin-left: 20px;
    padding-left: 15px;
    border-top-style: dotted;
    border-bottom-style:groove;
    border-left-style: double;
    border-right-style:solid;
    border-right-color: blue !important;
    border-color: green;
    border-radius:0px 0px 0px 8px;
}

p{
    width: 200px;
    margin: 20px;
    border-style:outset;
    border-width: 10px;
    border-color: pink;
    padding: 10px;
    border-radius: 15px;
}