.div1{
    border: 1px solid black;
    width: 400px;
    height:300px;
    background-color: tomato;
    position: sticky;
    top: 0px;
}
.div2{
    width: 200px;
    height: 150px;
    background-color: lightblue;
    position: absolute;
    top: 80px;
    left: 70px;
}
p:nth-child(){
    background-color: blue;
}